@(consumerKey: String, redirectUri: String)<!DOCTYPE html>
<html lang="en" ng-app="myApp">
    <head>
        <title>Salesforce Webhook Creator</title>
        <link rel='stylesheet' href='@StaticWebJarAssets.url(WebJarAssets.locate("css/bootstrap.min.css"))'>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Salesforce Webhook Creator</a>
                </div>
            </div>
        </div>

        <div class="container">
            <div>
                <a href="https://login.salesforce.com/services/oauth2/authorize?response_type=code&client_id=@consumerKey&redirect_uri=@redirectUri" class="btn btn-default">Login via Salesforce</a>
            </div>
        </div>

    </body>
</html>